body{
    /* 上を少し空ける */
    padding-top: 40px;
    /* 文字を中央にする */
    text-align: center;
    /* 文字の幅を等間隔にする */
    font-family: 'Courier New', monospace;
}

#target{
    /* 英単語フォントサイズ*/
    font-size: 48px;
    /* 文字の間隔 */
    letter-spacing: 3px;
}

.info{
    /* 文字の色 */
    color: #444;
}